/* ==========(Standard CSS)*/
html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    font-family: 'Fjalla One', sans-serif;
    background-color: #00529e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2314213e' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
*, *::before, *::after {
    box-sizing: inherit;
}





/* ==========(General Elements)========== */

/* ==========(Mobile) */
h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    color:  #fca311ff;
}

h2:before, 
h2:after {
    display: inline-block;
    content: "";
    border-top:  #fca311ff solid 2px;
    width: 2.8rem;
    margin: 5px 1rem ;
}

h3 {
    display: block;
    text-align: center;
    color:  #fca311ff;
    margin: 0 25%;
    padding: 10px;
}

h4 {
    display: block;
    margin: 2px 30px 2px 50px;
    text-align: left;
    font-size: .8em;
    font-weight: 500;
    z-index: 3;
    color: #e5e5e5ff;
}


p {
    color: #ffffffff;
    margin: 0 10%;
    text-align: left;
    font-size: .8em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section {
    padding: 10px;
    border:  #fca311ff 2px solid;
    margin: 10px 30px;
    background: #1b1b1b75;
}

/* ==========(Tablet) */
@media (min-width:600px){
    section {
        padding: 10px;
        border:  #fca311ff 4px solid;
        margin: 10px 0;
     }

     h2 {
        font-size: 1.5em;
     }

    h2:before, 
    h2:after {
        display: inline-block;
        content: "";
        border-top:  #fca311ff solid 2px;
        width: 7rem;
        margin: 10px 1rem ;
    }

     p {
        font-size: 1.2em;
        margin:3%;
     }

     h3 {
     font-size: 4em;
    }
}
/* ==========(Desktop) */
@media (min-width:1200px){
    section {
        /* padding: 20px; */
        padding: 3%;
        border:  #fca311ff 6px solid;
        margin: 10%;
     }

     h2 {
        font-size: 1.8em;
        padding: 40px 0;
     }

    h2:before, 
    h2:after {
        display: inline-block;
        content: "";
        border-top:  #fca311ff solid 4px;
        width: 5.7rem;
        margin: 10px 1rem ;
    }

     p {
        font-size: 1.5em;
        margin: 5%;
     }
}




/* ==========(Header/Nav)========= */

/* ==========(Mobile) */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
    max-height: 30vh;
    
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #14213dff;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

li a {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

a {
    font-size: .8em;
    letter-spacing: 2px;
    padding: 0em .6em;
    text-align: center;
    text-decoration: none;
    color: #fca311ff;
    text-transform: uppercase;
    font-weight: 500;
}

a.hover {
    display:inline-block;
    position: relative;
  }

.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0px;
  background: #e5e5e5ff;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
  padding-bottom: 2px; 
  margin-bottom: 0px;
}
.hover:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* ==========(Desktop) */
@media (min-width: 700px) {
    nav {
        height: 160px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a {
        font-size: 1.1em;
        letter-spacing: 5px;
        padding: 0em 1.8em;
        text-align: center;
        text-decoration: none;
        color: #fca311ff;
        text-transform: uppercase;
        font-weight: 500;
    }
}



/* =====(Landing/About) */

/* ==========(Mobile) */
#video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: rgba(0, 81, 157, 0.541);
    z-index: 1;
}
#video {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1;
}

#landing-heading {
    display:inline;
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Fjalla One', sans-serif;
    color: #fca311ff;
    font-size: 1.4em;
}

#landing-heading:before, 
#landing-heading:after {
    display: inline-block;
    content: "";
    border-top:  #e5e5e5ff solid 2px;
    width: 1.7rem;
    margin: 8px 1rem ;
}

/* ==========(Desktop) */
@media (min-width: 500px) {
    #landing-heading {
        display:inline;
        position: absolute;
        z-index: 3;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: 'Fjalla One', sans-serif;
        color: #fca311ff;
        font-size: 2em;
    }
    
    #landing-heading:before, 
    #landing-heading:after {
        border-top:  #e5e5e5ff solid 5px;
        width: 3rem;
        margin: 12px 1rem ;
    }
}

@media (min-width: 900px) {
    #landing-heading {
        font-size: 4em;
    }
    
    #landing-heading:before, 
    #landing-heading:after {
        width: 8rem;
        margin: 20px 1rem ;
    }
}


  

/* ==========(Services)==========*/

/* ==========(Mobile) */
.services-section {
   display: block;
}

.services-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.service-box {
    display: block;
    text-align: center;
    background:  #00296bff;
    width: 200px;
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
    border-radius: 15%;
    border:  #e5e5e5ff solid 2px;
}
.service-box:hover {
    background:  rgba(229, 229, 229, 0.384);
}

i{  
    display: flex;
    align-items: flex-start;
    color: #fca311ff;
    background:#00509dff;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    width: 60px;
    padding: 10px;
    margin: 5px;
}

/* ==========(Tablet) */
@media (min-width: 680px){
    .services-section {
        display: flex;
     }
     
     .services-list {
         display: flex;
         flex-direction: row;
         padding: 40px;
         margin: 20px;
     }
     
     .service-box {
         display: block;
         text-align: center;
         background:  #00296bff;
         width: 200px;
         padding: 3px 0;
         margin: 1%;
         border-radius: 15%;
         border:  #e5e5e5ff solid 2px;
     }
     
     i{  
         display: flex;
         align-items: flex-start;
         color: #fca311ff;
         background:#00509dff;
         border-radius: 50%;
         font-size: 2.2em;
         text-align: center;
         width: 70px;
         padding: 15px ;
         margin: 5px; 
     }

     h4 {
        display: block;
        text-align: center;
        font-weight: 500;
        z-index: 3;
        margin: 10%;
    }
}

/* ==========(Desktop) */
@media (min-width: 1000px){
    .service-box {
        display: block;
        text-align: center;
        background:  #00296bff;
        width: 60%;
        padding: 50px 0;
        margin: 3%;
        border-radius: 15%;
        border:  #e5e5e5ff solid 2px;
    }

    i {  
        display: flex;
        align-items: flex-start;
        color: #fca311ff;
        background:#00509dff;
        border-radius: 50%;
        font-size: 2.5em;
        text-align: center;
        width: 90px;
        padding: 20px;
        margin: 5px; 
    }

    h4 {
        display: block;
        text-align: center;
        font-size: 1em;
        font-weight: 500;
        z-index: 3;
        margin: 10%;
    }
}
  

/* ==========(Our Facility)========== */
@media (min-width:500px){
    #facility-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
        margin: 0 10%;
    }
}

/* ==========(Mobile) */
.our-facility-pics {
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 45% 45%;
    border: rgb(20, 33, 61) solid 10px;
}



/* ==========(Desktop) */


  




  

/* ==========(Contact)========== */

/* ==========(Mobile) */
#contact-section {
    display: block;
    text-align: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
}

.less-margin {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

.form-pieces {
    padding: 15px;
    margin: 15px;
}

button {
    color: #fca311ff;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    background:#00509dff;
    border:  #fca311ff 2px solid;
}
button:hover { 
    transform: scale(1.1); 
}

/* ==========(Desktop) */
@media (min-width:700px){
    form {
        display: flex;
        flex-direction: column;
        margin: 10px 10%;
    }
}





/* ==========(Footer/Contact)========== */

/* ==========(Mobile) */
footer {
    background-color: #14213e;
    /* padding-top: 10px ; */
    margin-top: 30px;
}

time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:  #fca311ff 2px solid;
    margin: 0px;
}

.footer-heading-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #14213e;
     border:  #fca311ff 2px solid;
}

.footer-background-position {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #14213e;
    border:  #fca311ff 2px solid;
}

.footer-background {
    background-size: contain;
    width: 365px;
}

   
table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border:  #fca311ff 5px solid;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    font-size: 1em;
}

tr {
   
    font-size: 1em;
    padding: 20px;

}

th {
    color:  #fca311ff;
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}


td {
    font-size: 1em;
    text-align: center;
    width: 50px;
    color: #e5e5e5ff;
}

#copy-right, #copy-right p {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    width: 100%;
}

/* ==========(Desktop) */
@media (min-width:700px){
    time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border:  #fca311ff 2px solid;
        margin: 0px;
    }
    .footer-heading-position {
        display: flex;
        flex-direction: row;
        justify-content: center;
         border:  #fca311ff 2px solid;
    }
    .footer-background-position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border:  #fca311ff 2px solid;
    }
    .footer-background {
        background-size: contain;
        width: 865px;
    }
    
    table, tr {
        border:  #fca311ff 2px solid;
        font-size: 1em;
        padding: 20px;

    }

    th {
        color:  #fca311ff;
        font-size: 2em;
        text-align: center;
        padding: 20px;
    }

    td {
        font-size: 1.5em;
        width: 200px;
    }
}
